{% extends "WebBase.html" %}

{% block body %}
	<h2> Look at these winners!  </h2>

	<p>Have a fantastic day. </p>

	<h1> Top Score Board </h1>

	<table style="width 100%">
		<tr>
			<th> Player Name </th>
			<th> Character Name </th>
			<th> Class </th>
			<th> Level </th>
			<th> Total Tiles </th>
		</tr> 
		{% for item in top_scores %}
		<tr>
			<td>{{item[0]}}</td>
			<td>{{item[1]}}</td>
			<td>{{item[2]}}</td>
			<td>{{item[3]}}</td>
			<td>{{item[4]}}</td>
		</tr>
		{% endfor %}

		



{% endblock %}
